
img {
	margin-top: 15px;
}

#imgtag {
    font-size: 14px;
    font-family: sans-serif;
}


#imgs {
    width: 87%;
    margin: 0 auto;
}


#imgs img {
    margin-right: 10px; 
    
}

/* .navbar */
nav.navbar {
	position: fixed;
	background-color: transparent;
    border: none;
}

nav.navbar.black {
	background-color: #7c7c7c;
}

.navbar-search {
	text-align: center;
}
@media (max-width: 767px) {
	.navbar-form {
		border: none;
		margin: 0;
		padding: 0 0 5px;
	}
}

.navbar-inverse .btn-link, .navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-family: 'Handwriting - Dakota';
}

body {
	background-position: fixed;
	background-color: #fff;
}

footer {
	margin-top: 10px;
	padding: 20px;
	background-color: #7c7c7c;
	color: #fff;
}

img.img-responsive {
	margin-bottom: 30px;
}

.jumbotron {
	height: 500px;
	background-size: cover;
}

.modal-dialog {
    max-width: 400px;
}

/* Styling of Gallery Toolbar by Julius begins here */

/* .image is a wrapper class for each image in the gallery */
.image {
    overflow: visible;
    float: left;
    position: relative;
}

/* Panel that wraps all tools and action panels for an image */
.imagePanel {
    display: none;
    width: inherit;
    overflow: hidden;
    position: absolute;
    top: 100%;
}

/* .imageToolbar is the wrapper for primary buttons */
.imageToolbar {
    width: inherit;
    height: 100%;
}

/* Class for toolbar elements (button wrappers etc) */
.toolbarElement {
    display: inline-block;
}

/* Toolbar buttons may bring up a corresponding actionPanel */
.actionPanel {
    overflow: hidden;
    width: inherit;
    height: 100%;
    display: none;
}

.hideable {
    display: none;
}

/* Gallery toolbar styling ends here */